* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", cursive;
}

header {
  background-image: url("./restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 167px;
  color: #ffffff;
}

h1 {
  padding: 55px 0 0 45px;
  margin: 0;
  font-size: 39px;
}

.header-description {
  padding: 5px 0 0 45px;
  margin: 0;
  font-size: 23px;
}

.modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 543px;
  width: 525px;
  border: 1px solid #757575;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.modal-btn {
  padding: 20px 24px;
  cursor: pointer;
  background-color: #16db99;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  font-weight: 700px;
  width: 475px;
  margin-left: 25px;
  margin-right: 25px;
  transition: background-color 0.3s, transform 0.2s;
}

.modal-btn:hover {
  background-color: #13b980;
  transform: scale(1.02);
}

input {
  width: calc(100% - 50px);
  padding: 20px;
  margin: 25px;
  font-size: 20px;
  border: 1px solid #757575;
  border-radius: 4px;
}

.dish {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
}
.emoji {
  font-size: 70px;
}

.name {
  font-size: 28px;
  margin: 0px;
}

.ingredients {
  font-size: 16px;
  color: #8b8b8b;
  margin: 0;
}

.price {
  size: 24px;
  margin-top: 10px;
}

.line {
  height: 1px;
  background-color: #d2d2d2;
  margin: 0 55px;
}

.btn-add {
  height: 50px;
  width: 50px;
  border: 1px solid #dedede;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 32px;
  font-weight: 200;
  color: #3c3c3c;
  margin-left: 120px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.btn-add:hover {
  background-color: #16db99;
  color: #ffffff;
  transform: scale(1.1);
}

.dish {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-complete {
  padding: 18px 24px;
  cursor: pointer;
  background-color: #16db99;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: calc(100% - 100px);
  margin: 20px 50px;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}
.btn-complete:hover {
  background-color: #13b980;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
